.menu-izquierdo {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    background-color: #343a40; /* Fondo oscuro similar al de ChatGPT */
    padding-top: 120px;
}
.menu-izquierdo h2 {
    color: #fff; /* Texto en blanco */
    text-align: center;
}
.menu-izquierdo ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-izquierdo li {
    margin-bottom: 10px;
    text-align: center;
}
.menu-izquierdo a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.menu-izquierdo a:hover {
    text-decoration: underline;
}
.titulo {
    background-color: #343a40; /* Mismo color de fondo que el menú */
    color: #fff; /* Texto en blanco */
    text-align: center;
    padding: 20px 0; /* Espaciado interior */
}
.footer{
    background-color: #343a40;
    color: #fff; /* Texto en blanco */
    text-align: center;
    padding: 20px 0; /* Espaciado interior */
    width: 100%; /* Ocupar el 100% del ancho de la pantalla */
    position: fixed;
    bottom: 0;
    z-index: 1; /* Añade un valor de z-index para estar por encima del contenido */
}
.IndexImangen{
   
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0;
    width: 290%; /* Establece el ancho deseado */
    height: auto; /* Permite que el alto se ajuste automáticamente */
     
}

.divIndex{
    
    margin-left: 23%;
}
#contenido {
    margin-bottom: 70px; /* Ajusta este valor según la altura de tu footer */
}

#contenidoListar {
    margin-bottom: 70px; 
    margin-left: 30%;
}

.mi-tabla {
    border-collapse: collapse;
    width: 100%;
}

.mi-tabla th {
    background-color: #0609b6c5;
    color: #fff;
}

.mi-tabla th, .mi-tabla td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.mi-tabla tr:nth-child(even) {
    background-color: #f2f2f2;
}